{% extends 'recipe/base.html' %}{% load crispy_forms_tags %} {% block content %}{{block.super}}
<div class="row mt-5">


    {%for post in recipes%}
    <div class="card mb-4">

        <div class="card-img">
            <img src="{{post.food_pic.url}}" class="card-img recipeimg">

        </div>
        <div class="card-body">
            <div>
                <span style="float:left"> <strong>{{post.name|title}} category:  {{post.category.name}}</strong></span>
                <span style="float:right"><strong> {{post.time_prep}} to prepare meal</strong></span>
            </div>

            <div>
                <h1 class="text-center">Ingredients</h1>
                <p class="text-center">{{post.ingredient}}</p>

                <h1 class="text-center">Procedure:</h1>
                <p class="text-center">{{post.process}}</p>
            </div>

        </div>
        <div class="card-footer">
            <span style="float:left">
		<a href="{% url 'user_profile' post.user.user.username  %}" class="mt-4 user">
		<img src="{{post.user.user.profile.prof_pic.url}}" class="rounded-circle border ml-3 mt-2  mr-3" alt="{{prof_pic.user.user.username}}" width="35" height="35">

			<span style="color:black;font-weight:bold">
					{{post.user.user.username|title}}</span></a>
            </span>
            <span style="float:right;"> Posted: {{post.date|date}}</span>

            <p class="text-muted ml-5 mr-3" style="font-style: italic;">#{{post.name}}</p>
        </div>

    </div> {%endfor%} {%endblock%}