{%extends 'recipe/base.html'%} {% block content %} {{block.super}}
<br>
<br>
<br>
<br>
<div class="container">

    <div class="heading">
        {% if profiles%}
        <h5 class="text-center">Found {{ profiles|length }} recipes with ingredient '{{message.capitalize}}'
        </h5> {%else%}
        <h5> Found 0 recipes with ingredient {{message}} </h5>
        {% endif %}
    </div>
    <hr>
    <div class="myCards">
        {% for post in profiles %}
        <div class="card mb-4 " style="width: 26rem;" data-toggle="modal" data-target="#{{post.id}}">
            <div class="card-header">
                <span style="float:left"> <strong>{{post.name|title}} </strong></span>
                <span style="float:right"><strong> Category: {{post.category}} </strong></span>
            </div>
            <div class="card-img">
                <img src="{{post.food_pic.url}}" class="card-img recipeimg">

            </div>
            <div class="card-body">

                <div>
                    <span style="float:left">
                        <a href="{% url 'user_profile' post.user.user.username  %}" class="mt-4 user">
                            <img src="{{post.user.user.profile.prof_pic.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
                                alt="{{prof_pic.user.user.username}}" width="35" height="35">
    
                            <span style="color:black;font-weight:bold"><strong>By : </strong>
                                {{post.user.user.username|title}}</span></a>
                    </span>
                    <span style="float:right"><strong> Prep_time: {{post.time_prep}}</strong></span>

                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted">Posted: {{post.date|timesince}} ago.</p>
            </div>
        </div>
        <div class="modal fade " id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-full" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title "> {{post.name|title}} , a {{post.category}} time delicacy</h5>


                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class='col-sm-6'>
                                <img src="{{post.food_pic.url}}" class="card-img recipeimg">

                            </div>
                            <div class='col-sm-6'>
                                <p><strong>Prep_time :</strong> {{post.time_prep}}</p>
                                <p><strong>Ingredients</strong></p>
                                <p style="white-space: pre-line;">{{post.ingredient}}</p>


                            </div>

                        </div>

                        <div>
                            <p class="text-center"><strong>Procedure</strong></p>
                            <p class="text-center" style="white-space: pre-line;">{{post.process}}</p>
                        </div>

                    </div>
                    <div class="modal-footer justify-content-start">
                        <p>Enjoy cooking!<br> Remember to post more recipes</p>
                    </div>


                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}